name: CI Assignment 8

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened
    paths:
      - 'packages/assignment-8/**'

  workflow_dispatch:

jobs:
  assignment-8-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
          
      - name: Install dependencies
        run: pnpm install

      - name: Run assignment-8 basic tests
        working-directory: packages/assignment-8
        run: pnpm test